<div class="card">
  <div class="card-content">
    <a class="button is-primary" routerLink="/stargazers/{{info?.name}}" style="float: right;">Stargazers</a>
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img *ngIf="info.owner.avatar_url"  [src]="info?.owner.avatar_url" alt="Image">
        </figure>        
      </div>
      <div class="media-content">
        <p class="title is-3">{{info?.name}} </p>        
        <p>{{info?.description}}</p>

      </div>
    </div>
    <footer class="card-footer" style="border:0;">
      <font class="card-footer-item">STARS</font>
      <font class="card-footer-item">OPEN_ISSUES</font>
      <font class="card-footer-item">FORKS</font>
    </footer>
    <footer class="card-footer" style="border:0;">
      <h3 class="card-footer-item title is-3">{{info?.stargazers_count}}</h3>
      <h3 class="card-footer-item title is-3">{{info?.open_issues}}</h3>
      <h3 class="card-footer-item title is-3" style="margin-bottom: 24px;">{{info?.forks}}</h3>
    </footer>
  </div>